html,body{
    height:100%
}

body{
    background: url("../image/fondo.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
text-decoration: overline;
font-size: 30px;
}
#textounico{
    width: 80%;
    font-size: 20px;
    column-count:2;
    column-rule: solid 2px red;
    margin: 0 auto;
    text-align: justify;
    background-color: rgba(225, 225, 225, 0.9);
    padding: 2em;
}
.foto img{
    border-radius:20px;
    box-shadow: 5px 10px 10px black;
    width: 350px;
    filter: invert(0);
    transition: all linear 0.5s;
}
.foto img:hover{
    filter: invert(1);
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
letter-spacing:20px;
font-size: 38px;
text-shadow: 0 0 10px white;
}

